<style>
    table {
        table-layout: fixed;
        font-size:0.75em;
    }
    th, td {
        text-align: center !important;
        vertical-align: middle !important;
    }
    .badge-secondary {
        background-color: #E7A1B0;
    }
</style>

<div class="col-md-10" style="margin:auto;" *ngIf="team.leader?.name">
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Combo</th>
                <th scope="col">Leader</th>
                <th scope="col">Sub1</th>
                <th scope="col">Sub2</th>
                <th scope="col">Sub3</th>
                <th scope="col">Sub4</th>
                <th scope="col">Friend</th>
                <th scope="col">Total</th>
                <th scope="col">Mutliplier</th>
                <th scope="col">Length</th>
            </tr>
        </thead>
        <tbody style="height:200px;">
            <ng-container *ngFor="let dataSet of damageList;let i = index">
                <tr>
                    <td id="combo" rowspan="2">
                        <span *ngFor="let combo of comboList[dataSet[8][0]]">
                            <span class="badge badge-pill badge-{{ badge[combo.color] }}">{{ combo.size }}</span>
                        </span>
                    </td>

                    <td id="damage" *ngFor="let p of teamSlots;let j = index">
                        {{ damageList[i][j][0] | number }}
                    </td>

                    <td id="total">
                        {{ damageList[i][6][0] | number }}
                    </td>

                    <td id="multiplier" rowspan="2">
                        {{ damageList[i][7][1] }}x
                    </td>

                    <td id="Length" rowspan="2">
                        {{ damageList[i][9][0] }}
                    </td>
                </tr>

                <tr>
                    <td id="damage" *ngFor="let p of teamSlots;let j = index">
                        {{ damageList[i][j][1] | number }}
                    </td>

                    <td id="total">
                        {{ damageList[i][6][1] | number }}
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>