<style>
    table {
        table-layout: fixed;
        font-size:0.75em;
    }
    th, td {
        text-align: center !important;
        vertical-align: middle !important;
    }    
</style>

<div class="col-md-10" style="margin:auto;" *ngIf="team.leader?.name">
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Combo</th>
                <th scope="col">Leader</th>
                <th scope="col">Sub1</th>
                <th scope="col">Sub2</th>
                <th scope="col">Sub3</th>
                <th scope="col">Sub4</th>
                <th scope="col">Friend</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody style="height:200px;">
            <tr *ngFor="let comboSet of comboList;let i = index">
                <td id="combo" rowspawn="3">
                    <span *ngFor="let combo of comboSet">
                        <span class="badge badge-pill badge-{{ badge[combo.color] }}">{{ combo.size }}</span>
                    </span>
                </td>

                <td id="damage" *ngFor="let p of teamSlots;let j = index">
                    {{ damageList[i][j][0] }}<br>{{ damageList[i][j][1] }}
                </td>
                
                <td id="total">
                </td>
            </tr>
        </tbody>
    </table>
</div>