<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">ID</span>
  
  <input type="text"
  	class="form-control"
  	placeholder="PADHerder Team ID"
  	aria-describedby="basic-addon1"
  	[(ngModel)]="teamID"
  	(ngModelChange)="getTeam($event)"
  	minlength="6"
  	name="input"
  	#input="ngModel"
  >
</div>

<div *ngIf="input.errors">
	<div [hidden]="!input.errors.minlength">
		ID must be at least 6 characters long.
	</div>
</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">({{ padh_team_id }}) {{ team?.name }}</div>

    <!-- Table -->
    <table *ngIf="team.name" class="table">
      <tr>
        <th></th>
        <th></th>
        <th>Monster ID</th>
        <th>Name</th>
        <th>Level</th>
        <th>HP</th>
        <th>ATK</th>
        <th>RCV</th>
      </tr>
      <tr *ngFor="let p of ['leader','sub1','sub2','sub3','sub4','friend_leader']">
        <td>{{ p }}</td>
        <td></td>
        <td><a href="{{ team[p].padh_url }}">{{ team[p].pad_id }}</a></td>
       
        <td>{{ team[p].name }}</td>
       
        <td>{{ team[p].level }}</td>
        <td>{{ team[p].hp | number:'1.0-0'}} (+{{ team[p].plus_hp }})</td>
        <td>{{ team[p].atk | number:'1.0-0' }} (+{{ team[p].plus_atk }})</td>
        <td>{{ team[p].rcv | number:'1.0-0' }} (+{{ team[p].plus_rcv }})</td>
      
      </tr>
    </table>
    <!-- <div class="panel-footer">{{ team | json }}</div> -->
    <div *ngIf="team.name" class="panel-footer">
      leader: {{ team?.leader.leader_skill_desc }}<br>
      friend leader: {{ team?.friend_leader.leader_skill_desc }}
    </div>
  </div><!-- /panel -->
</div>
<div class="row"></div>
Leader Skill: 
<div class="row"></div>