<div class="col-md-12">
	<div class="card">
		<div class="card-title">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">ID</span>
				
				<input type="text"
					class="form-control"
					placeholder="PADHerder Team ID"
					aria-describedby="basic-addon1"
					[(ngModel)]="teamID"
					(ngModelChange)="getTeam($event)"
					minlength="6"
					name="input"
					#input="ngModel"
				>

				<span class="input-group-addon">{{ padh_team_id }}</span>

				<span class="input-group-addon">{{ team?.name }}</span>
			</div>
		</div>

		<div class="card-body">
			<!-- Table -->
			<style>
				table {
					table-layout: fixed;
				}
				th, td {
					text-align: center !important;
					vertical-align: middle !important;
				}
			</style>

			<table class="table table-hover table-bordered table-sm" *ngIf="team.leader?.name">
				<thead class="thead-light">
					<tr>
						<th></th>
						<th scope="col">Leader</th>
						<th scope="col">Sub1</th>
						<th scope="col">Sub2</th>
						<th scope="col">Sub3</th>
						<th scope="col">Sub4</th>
						<th scope="col">Friend</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Image</th>
						<td *ngFor="let p of teamSlots"><img src="https://www.padherder.com/static/img/monsters/60x60/{{ team[p].pad_id }}.png" style="border-radius:4px"></td>
					</tr>
					<tr>
						<th scope="row">No.</th>
						<td *ngFor="let p of teamSlots">{{ team[p].pad_id }}</td>
					</tr>
					<tr>
						<th scope="row">Name</th>
						<td style="font-size: 0.8em" *ngFor="let p of teamSlots">{{ team[p].name }}</td>
					</tr>
					<tr>
						<th scope="row">Level</th>
						<td *ngFor="let p of teamSlots">{{ team[p].level }}</td>
					</tr>
					<tr>
						<th scope="row">HP</th>
						<td *ngFor="let p of teamSlots">{{ team[p].hp | number:'1.0-0' }} (+{{ team[p].plus_hp }})</td>
					</tr>
					<tr>
						<th scope="row">ATK</th>
						<td *ngFor="let p of teamSlots">{{ team[p].atk | number:'1.0-0' }} (+{{ team[p].plus_atk }})</td>
					</tr>
					<tr>
						<th scope="row">RCV</th>
						<td *ngFor="let p of teamSlots">{{ team[p].rcv | number:'1.0-0' }} (+{{ team[p].plus_rcv }})</td>
					</tr>
					<tr>
						<th scope="row">Awakenings</th>
						<td *ngFor="let p of teamSlots">
							<ng-container *ngFor="let no of team[p].awoken_skills;let i = index;">
								<i class="sprite sprite-awoken-{{no}}" [ngClass]="{'faded': i >= team[p].awakening}"></i>
							</ng-container>
						</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /card-body -->
		
		<div *ngIf="team.name" class="card-footer" style="font-size:0.75em">
			Leader: {{ team.leader?.leader_skill_desc }}
		</div><!-- /card-footer -->

		<div *ngIf="team.name" class="card-footer" style="font-size:0.75em">
			Friend: {{ team.friend_leader?.leader_skill_desc }}
		</div><!-- /card-footer -->

	</div><!-- /card -->
</div>