<div class="col-md-10">
  <div class="input-group">
	<span class="input-group-addon" id="basic-addon1">ID</span>
	
	<input type="text"
		class="form-control"
		placeholder="PADHerder Team ID"
		aria-describedby="basic-addon1"
		[(ngModel)]="teamID"
		(ngModelChange)="getTeam($event)"
		minlength="6"
		name="input"
		#input="ngModel"
	>
  </div>

  <div *ngIf="input.errors">
	<div [hidden]="!input.errors.minlength">
		ID must be at least 6 characters long.
	</div>
  </div>
</div>

<div class="col-md-10">
  <div class="panel panel-default">
	<div class="panel-heading">({{ padh_team_id }}) {{ team?.name }}</div>

	<!-- Table -->
	<style>
		table {
			table-layout: fixed;
		}
		th, td {
			text-align: center !important;
			vertical-align: middle !important;
		}
	</style>

	<table class="table table-hover" *ngIf="team.leader?.name">
		<thead>
			<tr>
				<th></th>
				<th>Leader</th>
				<th>Sub1</th>
				<th>Sub2</th>
				<th>Sub3</th>
				<th>Sub4</th>
				<th>Friend</th>
		 	</tr>
		</thead>
		<tbody>
		 	<tr>
				<td>Image</td>
				<td *ngFor="let p of teamSlots"><img src="https://www.padherder.com/static/img/monsters/60x60/{{ team[p].pad_id }}.png" style="border-radius:4px"></td>
			</tr>
			<tr>
				<td>No.</td>
				<td *ngFor="let p of teamSlots">{{ team[p].pad_id }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td style="font-size: 0.7em" *ngFor="let p of teamSlots">{{ team[p].name }}</td>
			</tr>
			<tr>
				<td>Level</td>
				<td *ngFor="let p of teamSlots">{{ team[p].level }}</td>
			</tr>
			<tr>
				<td>HP</td>
				<td *ngFor="let p of teamSlots">{{ team[p].hp | number:'1.0-0' }}(+{{ team[p].plus_hp }})</td>
			</tr>			
			<tr>
				<td>ATK</td>
				<td *ngFor="let p of teamSlots">{{ team[p].atk | number:'1.0-0' }} (+{{ team[p].plus_atk }})</td>
			</tr>			
			<tr>
				<td>RCV</td>
				<td *ngFor="let p of teamSlots">{{ team[p].rcv | number:'1.0-0' }} (+{{ team[p].plus_rcv }})</td>
			</tr>
			<tr>
				<td>Awakenings</td>
				<td *ngFor="let p of teamSlots">
					<ng-container *ngFor="let i of team[p].awoken_skills">
						<i class="sprite sprite-awoken-{{i}}"></i>
					</ng-container>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div *ngIf="team.name" class="panel-footer">
	  leader: {{ team.leader?.leader_skill_desc }}<br>
	  friend leader: {{ team.friend_leader?.leader_skill_desc }}
	</div>
  </div><!-- /panel -->
</div>
<div class="row"></div>
Leader Skill: 
<div class="row"></div>